# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [183]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [184]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [185]:
# load json as string
json_df =json.load((open('data/world_bank_projects.json')))

#Problem 1: 10 countries with most projects
json_subset = json_normalize(json_df)
group = json_subset.groupby('countryshortname').size()
group.sort_index().order(ascending=False).head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
dtype: int64

In [186]:
#Problem 2: top 10 major project themes 
json_project = json_normalize(json_df, 'mjtheme_namecode', ['countryshortname'])
#json_project.head(10)
group_project = json_project.groupby('name').size()
group_project.sort_index().order(ascending=False).head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [204]:
#Problem 3: dataframe with the missing names filled in
json_project = json_normalize(json_df, 'mjtheme_namecode')
json_project.head(20)

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7

In [202]:
#make a separate dataframe without missing values
name_list = json_project[json_project.name !='']
name_list.info()

# Inner merge two dataframe to fill up blank cell 
nomissing_df = json_project.merge(name_list,on ='code',sort = True)
nomissing_df = nomissing_df.drop('name_y',1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1377 entries, 0 to 1498
Data columns (total 2 columns):
code    1377 non-null object
name    1377 non-null object
dtypes: object(2)

In [203]:
nomissing_df.info()
nomissing_df.head(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247690 entries, 0 to 247689
Data columns (total 2 columns):
code      247690 non-null object
name_x    247690 non-null object
dtypes: object(2)

   code               name_x
0     1  Economic management
1     1  Economic management
2     1  Economic management
3     1  Economic management
4     1  Economic management
5     1  Economic management
6     1  Economic management
7     1  Economic management
8     1  Economic management
9     1  Economic management
10    1  Economic management
11    1  Economic management
12    1  Economic management
13    1  Economic management
14    1  Economic management
15    1  Economic management
16    1  Economic management
17    1  Economic management
18    1  Economic management
19    1  Economic management